.MainSectionRow {}

.Sidebar {
    padding: 2rem 2rem 5rem;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #EFEFEF;
}

.EditorWrraper {
    padding: 2rem;
    background-color: #F7F6F2;
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
}