.AddActionSpace {
  padding: 2rem 1rem;
}

.TableSpace {
  margin-bottom: 4rem;
}

.pagination-fix {
  background-color: #212529;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: -5px;
  width: 100%;
  color: #fff;
}
